<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App with JS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Videos</h1>
    <ul>
        {% for id,description in videos.items() %}
        <li>
            <a href="{{ url_for('serve_video', id=id) }}">
                <img src="{{ url_for('static', filename='thumbnails/' ~ id.split('.')[0] ~ '.jpg') }}" alt="{{ description }}">
            </a>
            <p>{{ description }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
<script>
    console.log(3)
</script>
</html>
