<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPEG-DASH Player</title>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    
</head>
<body>
    <video id="videoPlayer" controls></video>
    <button id="playPauseBtn" onclick="togglePlayPause()">Pause</button>
    <select id="resolutionSelect" onchange="changeResolution()">
	<option value="">Select Resolution</option>
    </select>

    <script>
        var url = '../media/output.mpd';
        var video = document.querySelector('#videoPlayer');
        var player = dashjs.MediaPlayer().create();
        player.initialize(video, url, true);


	player.on(dashjs.MediaPlayer.events.STREAM_INITIALIZED, function() {
            populateResolutions();  // Populate resolutions once the stream is loaded
        });

	
	function populateResolutions() {
            var resolutions = player.getBitrateInfoListFor('video');
            var resolutionSelect = document.getElementById('resolutionSelect');

            resolutions.forEach(function(resolution, index) {
                var option = document.createElement('option');
                option.value = index;  // Use index as the value
                option.text = `${resolution.width}x${resolution.height} - ${resolution.bitrate / 1000} kbps`;
                resolutionSelect.appendChild(option);
            });
        }

        function changeResolution() {
            var resolutionSelect = document.getElementById('resolutionSelect');
            var selectedIndex = resolutionSelect.value;

            if (selectedIndex) {
		player.setQualityFor('video', parseInt(selectedIndex, 10));
		console.log("swithxing resolution");
            	player.play();
	    } else {
                player.setAutoSwitchQualityFor('video', true);  // Enable auto-quality switching
            	console.log("no switching");
	    }
        }

        function togglePlayPause() {
            if (video.paused) {
                video.play();
                document.getElementById("playPauseBtn").innerHTML = "Pause";
            } else {
                video.pause();
                document.getElementById("playPauseBtn").innerHTML = "Play";
            }
        }


    </script>
</body>
</html>