
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}


p {
    font-size: 30px;
    margin-bottom: 20px;
}


.moves-left {
    font-size: 30px;
    margin-bottom: 20px;
}


table {
    margin: 0 auto; 
    border-collapse: collapse;
    transform: scale(1.); 
}


td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 20px;
}


td button {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.game-over-message {
    font-size: 24px;
    color: red;
    margin-top: 20px;
}


button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;

    border: none;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color: lightgreen;
}


td.hit {
    background-color: #4CAF50; 
    color: white;
}


td.miss {
    background-color: #f44336; 
    color: white;
}


td.default {
    background-color: #d3d3d3; 
    color: black;
}

button[type="submit"][name="play_again"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #d3d3d3; 
    color: black;
    border: 2px solid black; 
    cursor: pointer;
}

/* Change color on hover */
button[type="submit"][name="play_again"]:hover {
    background-color: #a9a9a9; /* Darker grey on hover */
}
